.profile__edit-button {
  position: absolute;
  top: 8px;
  right: calc((18px + 10px) * -1);

  width: 18px;
  height: 18px;
  padding: 0;

  background-image: url(../../../images/profile/edit-button.svg);
}

@media screen and (min-width: 600px) {
  .profile__edit-button {
    top: 16px;
    right: calc((24px + 18px) * -1);

    width: 24px;
    height: 24px;
  }
}
