.profile__add-button {
  position: relative;

align-self: center;

  box-sizing: border-box;
  width: 100%;
  height: 50px;
  margin-top: 32px;

  cursor: pointer;

  color: inherit;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;

  font: inherit;
}

.profile__add-button::after {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 2px;

  content: '';
  transform: translate(-50%, -50%);

  background-color: #ffffff;
}

.profile__add-button::before {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 16px;

  content: '';
  transform: translate(-50%, -50%);

  background-color: #ffffff;
}

@media screen and (min-width: 600px) {
  .profile__add-button {
    max-width: 150px;
    margin: 0;
    margin-left: auto;
  }
}
