.index-page__header {
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .index-page__header {
    margin: 0 10px;
  }
}

@media screen and (min-width: 900px) {
  .index-page__header {
    margin: 0 auto;
  }
}
