.popup__save-button {
  display: block;

  box-sizing: border-box;
  width: 100%;
  min-height: 46px;
  margin-top: 45px;
  padding: 14px;

  cursor: pointer;
  transition: opacity 0.5s;

  opacity: 1;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #000000;

  font-size: 14px;
  line-height: calc(17 / 14);
}

.popup__save-button:hover {
  transition: opacity 0.1s;

  opacity: 0.8;
}

.popup__save-button:focus {
  outline: none;
  box-shadow: 0 0 2px 4px #75C0FD;
}

@media screen and (min-width: 600px) {
  .popup__save-button {
    min-height: 50px;
    margin-top: 47px;

    font-size: 18px;
    line-height: calc(22 / 18);
  }
}
