.places__like-button {
  flex-shrink: 0;

  width: 22px;
  height: 19px;
  margin: 0 20px;
  padding: 0;

  cursor: pointer;
  transition: opacity 0.5s;

  opacity: 1;
  color: inherit;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/places/like-button.svg);

  font: inherit;
}
.places__like-button:focus {
  outline: 2px solid gray;
  outline-offset: 2px;
}

.places__like-button:hover {
  transition: opacity 0.1s;

  opacity: 0.5;
}
