.places__like-button {
  width: 22px;
  height: 19px;
  margin: 0 20px;
  padding: 0;

  cursor: pointer;
  transition: opacity 0.5s;

  opacity: 1;
  color: inherit;
  border: none;
  background-color: transparent;

  font: inherit;
}
.places__like-button:hover {
  transition: opacity 0.1s;

  opacity: 0.5;
}

.places__like-button:active {
}
