.popup__field {
  margin: 0;
  padding: 0;
}

.popup__field:nth-child(1) {
  margin-top: 70px;
}

.popup__field:nth-child(2) {
  margin-top: 25px;
}

@media screen and (min-width: 600px) {
  .popup__field:nth-child(1) {
    margin-top: 44px;
  }

  .popup__field:nth-child(2) {
    margin-top: 25px;
  }
}
